*{
    margin: 0;
    padding: 0;
}


body{
    margin: 0;
    text-align: center;
    font-family: 'Merienda', cursive;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Merienda', cursive;
}

.details{
    padding-top: 25px;
}

.instructions{
    padding-bottom: 25px;
}

.list
{
  padding-bottom: 25px;  
}

.footer{
    padding-top: 25px;
}

.create-acc{
    padding-bottom: 25px;
}

.btn{
padding: 15px 30px;
border-style: none;
border-radius: 30px ;
color: #ffff;
background: rgb(27, 100, 236);
font-family: 'Merienda', cursive;
cursor: pointer; 
}
